@using FifthTribe.HultPrize;

<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Join the world's largest movement<br />
                    for social impact by competing on your campus!
                </h2>
                <p class="text-left"><a class="btn btn-pink" href="#billboard">Find Your School</a></p>
            </div>
        </div>
    </div>
</div>

<div id="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Meet President Clinton & attend the CGI annual meeting and 25 more reasons to become a Hult Prize&#64; <span style="color: #dd0080;">Campus Director</span></h2>

            </div>
        </div>
        <div class="why-incentives">
            <div class="col-md-4">

                <div class="why-block why-block-access">
                    <span class="icon"></span>
                    <h3>Impact</h3>
                    <ul>
                        <li>Be the official spokesperson</li>
                        <li>Leave your mark on the world</li>
                        <li>Introduce social change</li>
                        <li>Launch disruptive start-ups</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">

                <div class="why-block why-block-career">
                    <span class="icon"></span>
                    <h3>Career</h3>
                    <ul>
                        <li>Career mentoring</li>
                        <li>Internship with Clinton Foundation</li>
                        <li>Full time job with Hult Prize</li>
                        <li>CGI Annual Meeting ticket</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="why-block why-block-fun">
                    <span class="icon"></span>
                    <h3>Fun</h3>
                    <ul>
                        <li>Picture with President Clinton</li>
                        <li>Win a trip to New York</li>
                        <li>Meet Muhammad Yunus</li>
                        <li>Tickets to VIP Events</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="action">
                <h2>Become a Campus Director and bring Hult Prize to your university</h2>
                <p class="text-center"><a class="btn btn-pink" href="http://www.hultprizesix.com/pdfs/hultprize_brochure.pdf">Download Brochure</a></p>
            </div>
        </div>

    </div>
</div>








<div id="whytwo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Launching university events around the world</h2>

                <p>In a few short years, the Hult Prize has become the world’s largest student competition. As the most prestigious award on the planet for the creation of new social enterprises, we are expanding our footprint in our quest to tackle the world’s most pressing issues. Each event organized on your campus will provide teams with unparalleled opportunities and resources to have impact, including support through an international community of change agents and</p>
                <h3>$1,000,000 in start-up capital</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="whytwo-box whytwo-launch">
                    <span class="icon"></span>
                    <h3>Launch Your<br />Start-up</h3>

                </div>
            </div>
            <div class="col-md-4">
                <div class="whytwo-box whytwo-life">
                    <span class="icon"></span>
                    <h3>Life-changing<br />Experience</h3>

                </div>
            </div>
            <div class="col-md-4">
                <div class="whytwo-box whytwo-win">
                    <span class="icon"></span>
                    <h3>Win Funding<br />& Support</h3>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="funnel">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Help your university teams bypass 20,000 applications and fast track to US$1,000,000 in start up funding</h3>
                <p><span class="hult-color">Hult Prize &#64; </span>gives you an opportunity to host a local Hult Prize event on campus, allowing the winning team to bypass the traditional application process and fast track their idea through one of five regional final rounds of competition. The program allows more students to compete around the world, leading to more ideas and ultimately more start-ups, each poised for radical impact. In 2015, five out of six global finalists came out of Hult Prize &#64; events and in 2014, the Hult Prize Global Champion was a Hult Prize &#64; program winner.</p>
            </div>
        </div>
    </div>

    <div id="funnel-on" class="funnel">
        <div class="container">
            <div class="row">
                <div class="col-md-3 funnel-blocks">
                    <div class="titles pink"> Hult Prize&#64;</div>
                    <p class="date">Oct 1st - Dec 14th</p>
                    <ul>
                        <li class="first-li"><strong>Bypass 20,000 applicants</strong></li>
                        <li>Compete on campus</li>
                        <li>Winner advances to Regional Finals</li>
                        <li>Fast track your ideas</li>
                        <li>100+ events worldwide</li>
                    </ul>
                </div>
                <div class="col-md-3 funnel-blocks bg-white funnel-blocks-short">
                    <div class="titles dark">Regional Finals</div>
                    <p class="date">March 11-12</p>
                    <ul>
                        <li class="first-li"><strong>Pitch to be a regional finalist</strong></li>
                        <li>Compete in 1 of 5 locations</li>
                        <li>100 world class judges</li>
                        <li>Win a spot at the Hult Prize Accelerator & 1 year membership to CGI</li>
                        <li>Meet like-minded entrepreneurs around world </li>
                        <li>Award reception, gala dinner & after party </li>
                    </ul>
                </div>
                <div class="col-md-3 funnel-blocks">
                    <div class="titles dark">Accelerator</div>
                    <p class="date">July - August</p>
                    <ul>
                        <li class="first-li"><strong>Build your prototype</strong></li>
                        <li>7 week bootcamp style incubation program</li>
                        <li>Top global innovation consulting firm</li>
                        <li>Business model development</li>
                        <li>Investment opportunities</li>
                        <li>Pitch practice</li>
                        <li>Constant mentorship by game-changing entrepreneurs</li>
                        <li>Top notch facilities</li>
                    </ul>
                </div>
                <div class="col-md-3 funnel-blocks bg-white">
                    <div class="titles dark">CGI Final</div>
                    <p class="date">Sep 26, 2016</p>
                    <ul>
                        <li class="first-li"><strong>Win $1,000,000 to change the world</strong></li>
                        <li>Hosted by President Bill Clinton</li>
                        <li>Pitch in front of world leaders at the CGI annual meeting</li>
                        <li>Network with leading entrepreneurs, investors & heads of state</li>
                        <li>Back stage access with President Bill Clinton</li>
                        <li>Exclusive access to CGI events across New York city</li>
                    </ul>
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-md-12">
                    <h3>Competing in Hult Prize is easy and does not require an idea to get started</h3>
                    <div class="steps_row">
                        <ul class="steps">
                            <li class="download"><a href="http://www.hultprize.org/en/compete/2015-prize/2015-case-studies/" target="_blank">Download</a><p>the President’s<br />challenge</p></li>
                            <li class="arrow"></li>
                            <li class="find"><a href="#billboard">Find</a><p>your school's event<br />& register your team</p></li>
                            <li class="arrow"></li>
                            <li class="pitch"><a href="#">Pitch</a><p>your start-up idea</p></li>
                            <li class="arrow"></li>
                            <li class="advance"><a href="#">Advance</a><p>to regional finals</p></li>
                        </ul>
                    </div>
                    <p class="general-app">Not interested in hosting Hult Prize event on campus, you can still compete in Hult Prize by completing the <a class="gen-button" href="http://www.hultprize.org" target="_blank">General Application</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sponsors-judges">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Check out the amazing people who have participated as judges in the Hult Prize&#64; events<br />
                    See a list of some of the great organizations that have sponsored Hult Prize&#64; events around the world</h2>

                <!-- start tabs -->
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="sponsors-judges-tabs">
                        <li role="presentation"><a href="#tab-sponsors" aria-controls="tab-sponsors" role="tab" data-toggle="tab"><span class="icon-sponsors"></span><br />Last Year Sponsors</a></li>
                        <li role="presentation"><a href="#tab-judges" aria-controls="tab-judges" role="tab" data-toggle="tab"><span class="icon-judges"></span><br />Last Year Judges</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="tab-sponsors">
                            @{
                              // Get all Sponsors
                              List<Bus_Sponsor> sponsors = HultBusiness.Sponsors.GetAllSponsors(ViewBag.RunTimeEnvironment);

                              // Loop through each sponsor
                              foreach (Bus_Sponsor sponsor in sponsors)
                              {
                                  // If the image exists
                                  if (sponsor.ImageUploaded == 1)
                                  {
                                      // Get organization directory
                                      string organizationDirectory = HultCommon.GetOrganizationURL(ViewBag.RunTimeEnvironment, sponsor.OrganizationId);

                                <div class="tab-sponsor">
                                    <a href="@sponsor.SponsorUrl" target="_blank" style="background-image:url(@organizationDirectory/@sponsor.ImageFilename);"></a>
                                </div>

                                  }
                              }
                            }
                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab-judges">
                            @{
                              // Get all the judges
                              List<Bus_Judge> judges = HultBusiness.Judges.GetAllJudges(ViewBag.RunTimeEnvironment);

                              // Counter
                              int judgesCount = 0;

                              // Loop through each judge
                              foreach (Bus_Judge judge in judges)
                              {
                                  if (judge.ImageUploaded == 1)
                                  {
                                      // Get directory
                                      string organizationDirectoryJudge = HultCommon.GetOrganizationURL(ViewBag.RunTimeEnvironment, judge.OrganizationId);
                                <div class="tab-judge">
                                    <img src="@organizationDirectoryJudge/@judge.ImageFilename" alt="@judge.NameFirst @judge.NameLast" class="judge-image img-circle" />
                                    <span class="judge-name">@judge.NameFirst @judge.NameLast</span>
                                    <span class="judge-title">@judge.Title</span>
                                </div>

                                      // Clear after 5 judges
                                      if ((judgesCount + 1) % 5 == 0)
                                      {
                                    @:<div class="clear-float"></div>
                                    }

                                      // Increase counter
                                      judgesCount++;
                                  }
                              }
                            }

                        </div>
                    </div>

                </div>
                <!-- end tabs -->

            </div>
        </div>
    </div>
</div>


<div id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>HULT PRIZE@@ 2015-2016 CAMPUS DIRECTORS</h2>
                <h3>meet this year's campus directors from around the world who are driving change</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @{
                  // Get all the schools items
                  List<Bus_Organization> schools = HultBusiness.Organization.GetAllOrganizations_OrderByName(ViewBag.RunTimeEnvironment, 0, 1000, false);


                  // Default to false
                  bool scroll = false;

                  // Check if scroll is needed (greater than 12)
                  if (schools.Count > 12)
                  {
                      scroll = true;
                  }
                }
                <div id="schools" class="@( scroll ? "scroll" : "")">
                    <div id="schools-scroll">
                        @{
                          // counter
                          int counter = 1;

                          // Loop through each school item
                          foreach (Bus_Organization school in schools)
                          {

                            <div class="school" data-counter="@counter">
                                <div class="school-director-image">
                                    @{if (school.ExtraInformation.CampusDirectorImageUploaded == 1)
                                      {
                                        <a href="@school.SchoolPublicURL(ViewBag.RunTimeEnvironment)" target="_blank"><img src="@Path.Combine(school.OrganizationDirectory_URL(ViewBag.RunTimeEnvironment),school.ExtraInformation.CampusDirectorImageName)" class="director-image img-circle" alt="@school.CampusDirectorInfo.NameFirst @school.CampusDirectorInfo.NameLast" /></a>
                                      }
                                      else
                                      {
                                        <a href="@school.SchoolPublicURL(ViewBag.RunTimeEnvironment)" target="_blank"><img src="~/images/school/director.png" class="director-image img-circle" alt="@school.CampusDirectorInfo.NameFirst @school.CampusDirectorInfo.NameLast" /></a>
                                      }

                                    }
                                </div>
                                <div class="school-info">
                                    <h3>@school.OrganizationName</h3>
                                    <p><span>Director:</span> @school.CampusDirectorInfo.NameFirst @school.CampusDirectorInfo.NameLast</p>
                                </div>

                            </div>

                                          // increase counter
                                          counter++;

                                      }
                        }
                    </div>
                </div>

                <p class="below-schools-text">
                    All university and campus locations are open for application. <br />
                    Not interested in hosting Hult Prize on your campus, then visit our <a href="http://www.hultprize.org" target="_blank">general application form</a>
                </p>
            </div>
        </div>
    </div>
</div>




<div id="faqs" class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your questions answered</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row faqs-box">
            <div class="col-md-6">
                <div class="question-wrap">
                    <div class="question">What is the Hult Prize?</div>
                    <p class="answer" style="display: block;">The Hult Prize is a student competition, open to undergraduates, graduate and PhD students from around the world. Teams compete to create a start-up that will help tackle a critical social challenge.  The winning team receives one million dollars in seed capital to launch and scale their company. </p>
                </div>
                <div class="question-wrap">
                    <div class="question">What is the goal of the Hult Prize?</div>
                    <p class="answer" style="display: none;">The aim of the Hult Prize is to launch a start-up enterprise that can radically change the world and breed the next generation of social entrepreneurs.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Who can participate?</div>
                    <p class="answer" style="display: none;">Student teams of a minimum of three and maximum of four persons make up a competing entry.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What resources to participants get?</div>
                    <p class="answer" style="display: none;">A broad range of resources are made available to students who decide to enter the Hult Prize, including one-million dollars in start-up capital to the winner along with an ecosystem that includes mentors, judges, enablers and others via the Hult Prize Accelerator and the Clinton Global Initiative community.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Do I have to have an idea to participate?</div>
                    <p class="answer" style="display: none;">No. An idea is NOT required to participate in the Hult Prize, as the objective is to build the next big start-up, not necessarily to identify it.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">How do I get started on a start-up for social good?</div>
                    <p class="answer" style="display: none;">Hult Prize provides a tool-kit to get started on building your social enterprise through the form of a case study, narrated by President Bill Clinton.  All you have to do is download the case study and get started. </p>
                </div>
                <div class="question-wrap">
                    <div class="question">What does the Hult Prize Challenge focus on?</div>
                    <p class="answer" style="display: none;">The target social impact area of focus / theme for the Hult Prize changes every year; it is selected and announced by President Bill Clinton.  The 2015-16 theme will be crowded urban spaces, with an exact challenge to be announced on September 27, 2015 live in New York by President Bill Clinton at the Clinton Global Initiative Annual Meeting.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Where does the Hult Prize take place?</div>
                    <p class="answer" style="display: none;">
                        Regional Finals for the Hult Prize are held in six cities around the world in early March and are not restricted to geographic location, so any team can participate anywhere.  The host cities for 2015-2016 are Boston, San Francisco, London, Dubai, Shanghai and a wild card round held on-line.  The Hult Prize Accelerator is hosted in Boston and the Global Finals are hosted by the Clinton Foundation in New York.
                    </p>
                </div>
                <div class="question-wrap">
                    <div class="question">How do I register to compete for the Hult Prize?</div>
                    <p class="answer" style="display: none;">Teams can apply online for entry into the Regional Finals through hultprize.org or compete in a locally organized Hult Prize &#64; event, where the winner will bypass the application round and be guaranteed a place into one of five Regional Finals.</p>
                </div>
                <div class="question-wrap">
                    <div class="question active">What is the timeline of the Hult Prize?</div>
                    <p class="answer" style="display: none;">The general application window closes on December 21, 2015.  Hult Prize &#64; events are completed by December 14, 2014.  Regional Finals take place on March 11 and 12, 2016.  The Hult Prize Accelerator takes place late June through mid August and the 2016 Finals will take place on September 27, 2016.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What happens after the Regional Finals?</div>
                    <p class="answer" style="display: none;">Each Regional Final winning teams advances to a summer accelerator program in Boston and a Global Final in New York in September, which is hosted, by President Bill Clinton and the Clinton Global Initiative.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What is Hult Prize &#64;?</div>
                    <p class="answer" style="display: none;">Hult Prize &#64; is a quarterfinal program for the Hult Prize, where local university competition winners automatically advance into one of the six regional final events.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="question-wrap">
                    <div class="question">Who organizes Hult Prize &#64; events?</div>
                    <p class="answer" style="display: none;">Students. The program allows student leaders on campus to organize their own, localized version of the Hult Prize, using a turn-key tool kit.  Students interested in becoming their campus director should sign up to receive more information.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What are the advantages of hosting a Hult Prize &#64; event?</div>
                    <p class="answer" style="display: none;">Local events provide the university student body an opportunity to bypass the general application round and advance directly into the Hult Prize Regional Finals while better preparing students for the next round of competition.  Last year, five out of the six global finalists came from the Hult Prize&#64; rounds. In 2014, the overall champion was a Hult Prize&#64; winner.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Who is behind Hult Prize &#64;?</div>
                    <p class="answer" style="display: none;">Hult Prize &#64; is an international program run by the Hult Prize Foundation in partnership with the Clinton Global Initiative and with the support of Net Impactt, with full time, dedicated staff in place to support campus directors and their events.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Who can participate in a Hult Prize &#64; event?</div>
                    <p class="answer" style="display: none;">Hult Prize &#64; events are open to all students from the organizing university only; this includes undergraduate, graduate and PhD programs.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">When do Hult Prize &#64; events need to be completed?</div>
                    <p class="answer" style="display: none;">All Hult Prize &#64; events for the 2015-2016 cycle must be completed by December 13, 2015.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What happens to the teams that don’t win a Hult Prize &#64; event?</div>
                    <p class="answer" style="display: none;">Teams that compete in their local Hult Prize &#64; competition and do not win can still apply to participate in one of five Regional Finals through the general Hult Prize application window, which is open through December 21, 2015. </p>
                </div>
                <div class="question-wrap">
                    <div class="question">Are the rules for Hult Prize &#64; the same as Hult Prize?</div>
                    <p class="answer" style="display: none;">Team sizes, rules and regulations of Hult Prize &#64; will in general conform to the overall Hult Prize competition, while specific modifications per circumstance will be allowed.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">Are all Hult Prize &#64; considered official events?</div>
                    <p class="answer" style="display: none;">A minimum of 10* competing teams must register and compete, for the Hult Prize &#64; event at your university to be considered official. Exceptions may be made but must be pre-approved.  A full listing of participating Hult Prize &#64; host universities will be published on October 1, 2015.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">What does a Hult Prize &#64; event consist of?</div>
                    <p class="answer" style="display: none;">
                        An event consists of three main criteria:
                        <br> 1. Teams pitch their start-up solution to the challenges outlined in the case document
                        <br> 2. Judges watch and score each of the pitches and engage in Q and A
                        <br> 3. Selection of a winner based on the criteria provided.
                    </p>
                </div>
                <div class="question-wrap">
                    <div class="question">Does the Hult Prize &#64; organizing team receive support?</div>
                    <p class="answer" style="display: none;">Tool-kits will be provided to campus directors and include a turn-key website, digital marketing materials, suggested operating manuals, judge and student recruiting aides along with the case study and scoring matrix. </p>
                </div>
                <div class="question-wrap">
                    <div class="question">What benefits does a Hult Prize &#64; Campus Director Receive?</div>
                    <p class="answer" style="display: none;">All campus directors will qualify for over 25 incentives, amongst which include meeting President Bill Clinton and Prof. Mohammad Yunus along with a trip to New York to attend the Clinton Global Initiative annual meeting as a conference delegate.</p>
                </div>
                <div class="question-wrap">
                    <div class="question">How are Hult Prize &#64; events ranked?</div>
                    <p class="answer" style="display: none;">Hult Prize &#64; events will be ranked on three criteria including: number of teams that participate, types and number of judges recruited and general buzz your event creates #hultprize</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popup-video">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <iframe width="560" height="315" class="popup-video-iframe" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->