@using FifthTribe.Database.HultPrize;
@using FifthTribe.HultPrize;
@using FifthTribe.Common;
@using HultPrizeAtAdmin.Common;

<div class="modal fade" id="add-judge" tabindex="-1" role="dialog" aria-labelledby="add-judge-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="add-judge-label">Add Judge</h4>
      </div>
      <div class="modal-body">
        <form id="add-judge-form" class="form-horizontal" method="post" action="/school/newjudge">
            <input type="hidden" value="@ViewBag.Result.Organization.OrganizationId" name="orgId" />
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="First Name" name="firstName" maxlength="@Judge_Table.ColumnLengths.NAME_FIRST" />
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="Last Name" name="lastName" maxlength="@Judge_Table.ColumnLengths.NAME_LAST" />
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="Title" name="title" maxlength="@Judge_Table.ColumnLengths.TITLE" />
                </div>
            </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Add Judge</button>
                </div>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-judge" tabindex="-1" role="dialog" aria-labelledby="edit-judge-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="edit-judge-label">Edit Judge</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script id="edit-judge-template" type="text/x-handlebars-template">

    {{#ifelse Success}}
        <form id="save-judge-form" class="form-horizontal" method="post" action="/school/savejudge">
            <input type="hidden" value="{{Judge.OrganizationId}}" name="judge.OrganizationId" />
            <input type="hidden" value="{{Judge.JudgeId}}" name="judge.JudgeId" />
            <input type="hidden" value="{{Judge.DisplayOrder}}" name="judge.DisplayOrder" />
            <input type="hidden" value="{{Judge.ImageFilename}}" name="judge.ImageFilename" />
            <input type="hidden" value="{{Judge.ImageUploaded}}" name="judge.ImageUploaded" />
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="First Name" name="judge.NameFirst" maxlength="@Judge_Table.ColumnLengths.NAME_FIRST" value="{{Judge.NameFirst}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="Last Name" name="judge.NameLast" maxlength="@Judge_Table.ColumnLengths.NAME_LAST" value="{{Judge.NameLast}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control required" placeholder="Title" name="judge.Title" maxlength="@Judge_Table.ColumnLengths.TITLE" value="{{Judge.Title}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Biography</label>
                <div class="col-sm-10">
                    <textarea class="form-control required" name="judge.Bio" maxlength="@Judge_Table.ColumnLengths.BIO">{{Judge.Bio}}</textarea>
                </div>
            </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save Judge</button>
                </div>
              </div>
        </form>
    {{else}}

    {{ErrorDisplayMessage}}

    {{/ifelse}}
</script>

